body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #8872b1 ;
}
header {
    background: #8872b1;
    color: black;
    padding: 40px 20px;
    text-align: center;
    border: 8px solid black;
}
section {
    padding: 20px;
    max-width: 800px;
    margin: auto;
    background: white;
    margin-top: 20px;
    border-radius: 5px;
}
img {
    height: 50px;
    width: 50px;
    margin-top: 5px;
    padding-left: 13px;
    margin-right: 36px;
}
.social-links a {
    margin-top: 5px;
    padding-left: 3px;
    margin-right: 25px;
    color: #0078d7;
    font-weight: bold;
    text-decoration: none;
}

h2 {
    text-decoration: underline;
    align-content: center;
    text-align: center;
    margin-top: 30px;
}
.body-about {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #c2c2c2;
    color: #333;
}
.container {
    max-width: 800px;
    margin: 50px auto;
    background: #d1f0e9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
h1, h2 {
    color: #333333;
    text-align: center;
    font-family: cursive;
}
h3 {
    color: #333333;
    text-align: left;
    font-family: cursive; 
}
.contact-container {
    width: 600px;
    height: 700px;
    margin: 50px auto;
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
}
.contact-container h1 {
    text-align: center;
    color: #333333;
    margin-bottom: 20px;
}
.contact-container form {
    display: flex;
    flex-direction: column;
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
.form-group textarea {
    height: 120px;
    width: 500px;;
}
.form-group button {
    padding: 7px 17px;
    background-color: purple;
    color: white;
    border: none;
    border-radius: 7px;
    font-size: 17px;
    cursor: pointer;
    font-family: cursive;
}
.form-group button:hover {
    background-color: purple;
}
footer {
    background-color: #d1f0e9;
    padding: 20px 0;
    text-align: center;
    
}
nav {
    width: 100%;
    background-color: #d1f0e9;
    padding: 5px ;
  }
nav ul {
    display: flex;
    justify-content: center;
  }

nav ul li {
    margin: 20px;
    list-style: none;
    font-family: cursive;
    font-size: large;
  }
nav a {
    text-decoration: none;
    font-size: larger;
}




