body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #c2c2c2;
    color: #333;
}
header {
    background: #8872b1;
    color: black;
    padding: 40px 20px;
    text-align: center;
    border: 8px solid black;
}
section {
    padding: 20px;
    max-width: 800px;
    margin: auto;
    background: white;
    margin-top: 20px;
    border-radius: 5px;
}
img {
    height: 50px;
    width: 50px;
    margin-top: 5px;
    padding-left: 25px;
    margin-right: 36px;
}
.social-links a {
    margin-top: 5px;
    padding-left: 15px;
    margin-right: 25px;
    color: #0078d7;
    font-weight: bold;
    text-decoration: none;
}

